@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$poppins: "Poppins", sans-serif;
$nintendoRedLight-10: rgb(255, 0, 0);
$nintendoRed: rgb(230, 0, 0);
$menuHover: rgb(200, 0, 0);
$paperWhite: rgb(237, 239, 241);
//box-shaddows:
$blurEdge: rgba(0, 0, 0, 0.1) 0px 4px 12px;
$softEdge: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$justAnEdge: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
	rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$simpleCardEdge: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$bigCardEdge: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$metalEdge: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
	rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
	rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
$heroEdge: rgb(26, 26, 26) 0px 20px 30px -10px;
$invertedEdge: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
	rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
$hoveringEdge1: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$hoveringEdge2: rgba(0, 0, 0, 0.19) 0px 10px 20px,
	rgba(0, 0, 0, 0.23) 0px 6px 6px;
$hoveringEdge3: rgba(0, 0, 0, 0.3) 0px 19px 38px,
	rgba(0, 0, 0, 0.22) 0px 15px 12px;
$card: #f8f8f8;

.blurEdge {
	box-shadow: $blurEdge;
}
.softEdge {
	box-shadow: $softEdge;
}
.justAnEdge {
	box-shadow: $justAnEdge;
}
.bigCardEdge {
	box-shadow: $bigCardEdge;
}
.invertedEdge {
	box-shadow: $invertedEdge;
}
.hoveringEdge1 {
	box-shadow: $hoveringEdge1;
}
.hoveringEdge2 {
	box-shadow: $hoveringEdge2;
}
.hoveringEdge3 {
	box-shadow: $hoveringEdge3;
}

.metalEdge:hover {
	box-shadow: $metalEdge;
}
.heroEdge:hover {
	box-shadow: $heroEdge;
}

.col {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
}

.pointer {
	cursor: pointer;
}

.invisible {
	display: none;
	transition: width 2s ease-in-out;
}
.visible {
	display: flex;
	transition: width 2s ease-in-out;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $poppins;
}
// body {
// 	display: grid;
// }

Main {
	padding-top: 80px;
	height: 100%;
	margin: auto;
}
