$nintendoRedLight-10: rgb(255, 0, 0);
$nintendoRed: rgb(230, 0, 0);
$menuHover: rgb(200, 0, 0);
$paperWhite: rgb(237, 239, 241);

.headerLogoContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
	height: fit-content;
	margin: auto;
	background-color: $nintendoRed;
	.logo {
		align-self: flex-start;
		height: 80px;
		width: auto;
		object-fit: contain;
	}

	.menuContainer {
		display: flex;
		flex-direction: row;
		align-self: flex-end;
		align-items: space-between;
		width: 800px;
		margin-top: -50px;
		margin-right: 40px;
		width: min-content;
		.menu {
			display: flex;
			flex-direction: column;
			align-self: end;
			color: white;
			text-decoration: none;
			padding: 15px;
			font-size: 0.6rem;
			font-weight: 300;
			margin-top: -30px;
			text-align: center;
			height: 80px;
			width: min-content;
			.menuIcon {
				align-self: center;
				width: 32px;
				height: 20px;
				object-fit: contain;
				margin-bottom: 5px;
			}
		}
		.menu:hover {
			background-color: $menuHover;
			cursor: pointer;
		}
		.extraPadding {
			font-size: 0.4rem;
			// padding: 5px;
		}
	}
}

.footerLogoContainer {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: $nintendoRed;
	margin: auto;
	.logo80s {
		height: 50px;
		width: auto;
	}
	.footerContainer {
		background-color: $menuHover;
		width: 100%;
		color: white;
		align-items: space-between;
		.footerContent {
			margin-top: 20px;
			width: 98%;
			margin: auto;
			align-items: space-between;
		}
		.footerContent > .row > h4 {
			font-size: 0.8rem;
			font-weight: 500;
			padding: 10px;
			padding-top: 15px;
			margin-right: 10px;
		}
		.footerContent > .row > p {
			font-size: 0.7rem;
			font-weight: 300;
			padding: 10px;
		}
		.copyright {
			text-align: end;
			font-size: 0.6rem;
			font-weight: 400;
			margin-right: 10px;
			margin-bottom: 20px;
		}
	}
}
