.marioContainer {
	// padding: 10%;
	position: absolute;
	margin-top: -300px;
	margin-left: 40px;
	display: grid;
	grid-template-columns: repeat(1, 10vw [col-start]);
	grid-template-rows: [row1-start] 15vh [row1-end row2-start] [row2-end row3-start] [row3-end];
	grid-template-areas:
		"coin"
		"coinBox"
		"_mario";
	/* background-color: khaki; */
}

.coin {
	grid-area: "coin";
	justify-self: center;
	height: auto;
	width: auto;
	max-height: 50px;
	max-width: 50px;
	padding: 0%;
	margin: 1%;
	opacity: 0;
	animation: acoin 2s linear infinite forwards;
	filter: drop-shadow(0px 10px 5px #d0d0d0);
}

.coinBox {
	grid-area: "coinBox";
	justify-self: center;
	height: auto;
	width: auto;
	max-height: 80px;
	max-width: 80px;
	padding: 5%;
	margin: 5%;
	animation: acoinBox 0.5s linear infinite alternate;
	filter: drop-shadow(0px 10px 5px #d0d0d0);
}

._mario {
	grid-area: "_mario";
	justify-self: center;
	height: auto;
	width: auto;
	max-height: 200px;
	max-width: 200px;
	padding: 10%;
	margin: 10%;
	animation: a_mario 1s linear infinite alternate-reverse;
	background-color: none;
	z-index: -1;
}

@keyframes acoin {
	0% {
		transform: translateY(70px);
		opacity: 100%;
		z-index: -1;
	}
	50% {
		transform: translateY(-50px) rotateY(100deg);
		-webkit-transform: translateY(-50px) rotateY(720deg);
		-moz-transform: translateY(-50px) rotateY(720deg);
		opacity: 80%;
		z-index: -1;
	}
	75% {
		transform: translateY(-1000px) rotateY(100deg);
		-webkit-transform: translateY(-75px) rotateY(1000deg);
		-moz-transform: translateY(-75px) rotateY(1000deg);
		opacity: 20%;
		z-index: -auto;
	}
	100% {
		transform: translateY(-200px) rotateY(1000deg);
		-webkit-transform: translateY(-100px) rotateY(720deg);
		-moz-transform: translateY(-100px) rotateY(720deg);
		opacity: 0;
		z-index: -1;
	}
}

@keyframes acoinBox {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-2px);
	}
	100% {
		transform: translateY(-8px);
	}
}

@keyframes a_mario {
	0% {
		fill: none;
		transform: translateY(0px);
	}

	100% {
		fill: white;
		transform: translateY(-41px);
	}
}
