$Red-180: rgb(150, 0, 0);
$nintendoRed: rgb(230, 0, 0);
$menuHover: rgb(200, 0, 0);

.h1 {
	grid-column: 1 / 1;
	grid-row: 1/ 1;
	font-size: 2rem;
}

.headerLogoContainer {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	position: fixed;
	height: 80px;
	width: 100%;
	z-index: 5;
	margin: auto;
	background-color: $nintendoRed;
	top: 0;
	margin-bottom: 100px;
	.logo {
		align-self: flex-start;
		height: 80px;
		width: auto;
		object-fit: contain;
	}
	.burger {
		display: flex;
		align-self: flex-end;
		width: auto;
		padding: 0px 40px 0px 40px;
		font-size: 2rem;
		margin-top: -70px;
		color: white;
	}
	.scroll {
		overflow-y: auto;
		height: 80%;
	}

	::-webkit-scrollbar {
		width: 10px;
		background-color: $Red-180;
	}
	::-webkit-scrollbar-thumb {
		background-color: red;
	}

	.menuContainer {
		z-index: 5;
		display: flex;
		flex-direction: column;
		background: none;
		width: 100%;
		height: 70vh;

		margin-bottom: 20px;
		margin-top: 10px;

		.menuItem {
			text-decoration: none;
			cursor: pointer;
			z-index: 5;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-self: flex-end;
			padding: 20px;
			color: white;
			text-align: right;
			width: 30%;
			font-size: 0.8rem;
			border: solid 1px $menuHover;
			background-color: $nintendoRed;

			.menuIcon {
				display: flex;
				justify-self: flex-end;
				margin-right: 20px;
				margin-left: 20px;
				width: 20px;
			}

			.homeIcon {
				display: flex;
				justify-self: flex-end;
				margin: -10px 7px -10px 20px;
				width: 40px;
			}
		}
		.menuItem:hover {
			background-color: $menuHover;
			border: solid 1px rgb(142, 0, 0);
		}
	}
}

.contentContainer {
	margin: auto;
	width: 80%;
	height: fit-content;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-auto-rows: auto;
	gap: 20px;
}

.footerLogoContainer {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: $nintendoRed;
	margin-top: 50px;

	.logo80s {
		height: 50px;
		width: auto;
	}
	.footerContainer {
		background-color: $menuHover;
		width: 100%;
		color: white;

		.footerContent {
			flex-wrap: wrap;
			margin-top: 20px;
			width: 98%;
			margin: auto;
			align-items: space-between;
		}
		.footerContent > .row > h4 {
			flex-wrap: wrap;
			font-size: 0.8rem;
			font-weight: 500;
			padding: 10px;
			padding-top: 15px;
			margin-right: 10px;
		}
		.footerContent > .row > p {
			flex-wrap: wrap;
			font-size: 0.7rem;
			font-weight: 300;
			padding: 10px;
		}
		.copyright {
			flex-wrap: wrap;
			text-align: end;
			font-size: 0.6rem;
			font-weight: 400;
			margin-right: 10px;
			margin-bottom: 20px;
		}
	}
}

@media only screen and (max-width: 900px) {
	.headerLogoContainer {
		.menuContainer {
			.menuItem {
				width: 100%;
			}
		}
	}
	.footerLogoContainer {
		.logo80s {
			height: 30px;
			width: auto;
		}
		.footerContainer {
			background-color: $menuHover;
			width: 100%;
			color: white;

			.footerContent {
				flex-wrap: wrap;
				margin: auto;
			}
			.footerContent > .row > h4 {
				font-size: 0.5rem;
			}
			.footerContent > .row > p {
				flex-wrap: wrap;
				font-size: 0.4rem;
				font-weight: 300;
			}
			.copyright {
				text-align: end;
				font-size: 0.4rem;
				font-weight: 400;
				margin-right: 10px;
				margin-bottom: 20px;
			}
		}
	}
}

@media only screen and (max-width: 900px) {
	.headerLogoContainer .burger {
		padding: 0px 20px 0px 40px;
	}
}
